<section class="table-container">
  <div class="search-container">
    <form>
      <mat-form-field class="search-content">
          <mat-label>Search</mat-label>
        <input matInput 
        [formControl]="searchInput">
      </mat-form-field>
    </form>
  </div>
  <div  class="table-content" >
    <table mat-table [dataSource]="filterElements" *ngIf="!loader; else loading">
      @for (column of columns; track column){
        <ng-container [matColumnDef]="column">
          <th 
          mat-header-cell 
          *matHeaderCellDef 
          style="margin-left: 2px;"> 
            {{column | titlecase}} 
          </th>
          @if (column == "edit") {
          <td 
          mat-cell 
          *matCellDef="let element; let i = index;"> 
            <button 
            mat-icon-button 
            (click)="editRow(element, i)">
              <mat-icon>{{column}}</mat-icon>
            </button> 
          </td>
          }
          @else {
          <td 
          mat-cell 
          *matCellDef="let element"> 
            {{element[column]}} 
          </td>
          }
        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>


  
</section>

<ng-template #loading>
  <div  class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
